  body {
   background-color: #da1884;
    color: #fefefe;
    text-align: center;
  }

  h1 {
   color: #fefefe;
   text-align: center;
   font: italic 200% harrington;
  }

p {
 padding: 20px;
 color: #fefefe;
 text-align: center;
 border: 6px dotted #ffeb7f;
}

a {
color: #add5ff;
}

hr {
  border: 2px dashed #add5ff;
}
